.container{
    max-width : 80% ;
    background-color : rgb(195, 148, 240) ;
    padding: 34 px;
    margin: auto;
    font-family:'Sriracha',cursive;
}

.container h3,p{
    text-align: center;
    font-family: 'Sriracha',cursive;
    font-size: 40px;
    text-align : center;
}
element.style{
        font-size: 25px;
        color:      green;
        background: grey;
}
p{
    font-size: 17px;
    font-size: 40px
}

.container h1,p{
        text-align: center;
        font-family: 'Sriracha',cursive;
        font-size: 40px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Sriracha',cursive;
    font-family:'Roboto',sans-serif;
}
input,textarea{
    display: block;
    border: 2px solid black;
    border-radius: 6px;
    outline:none;
    font-size:16px;
    width: 80% ; 
    margin:11px 0px;
    padding: 7px;
}
.btn{
    color     : inherit;
    background: purple;
    padding   : 15px 10px;
    font-size : 20px;
    border    : 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

element.style{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}

form{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.submitMsg{
    font-size: 25px;
    color:  green;
}